:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
    --color-secondary: #A18268;
}

body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    /*
    в дизайне - 27px, но рассчитывается из font-size: 27 / 18 = 1.5
    */
    line-height: 1.5;
}

h1 {
    font-weight: 900;
    font-size: 64px;
}
h2 {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;

    span {
        color: var(--color-brand-dark);
    }
}
h3 {
    font-weight: 600;
    font-size: 40px;
}

p {
    &.dark {
        color: var(--color-brand-dark);
    }

    span {
        color: var(--color-brand-light);
        font-weight: 600;
    }

    span.upper {
        text-transform: uppercase;
    }
}

ul {
    list-style: none;
}

address {
    font-style: normal;
}

.button-order {
    border: 2px solid var(--color-brand-light);
    background: var(--color-brand-light);
    border-radius: 8px;
    padding: 16px 32px;
    color: var(--color-primary-light);
    cursor: pointer;
    font-weight: 600;

    &:hover {
        background: transparent;
        color: var(--color-brand-dark);
    }
}

.header {
    color: var(--color-primary-light);
}

.menu {
    a {
        text-decoration: none;
        color: var(--color-primary-light);
    }

    &:hover {
        color: var(--color-brand-light);
        font-weight: 600;
    }
}

.main-title {
    color: var(--color-primary-light);
    font-weight: 900;
    font-size: 128px;
    text-align: center;

    span {
        color: var(--color-brand-light);
    }
}

.advantages-list {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}

.format-card {
    .format-title {
        color: var(--color-primary-light);
        font-weight: 600;
        font-size: 24px;
    }

    .format-text {
        font-weight: 300;
        font-size: 14px;
    }
}

.footer {
    color: var(--color-primary-light);

    .contacts {
        font-weight: 300;
        font-size: 16px;
    }

    a {
        color: var(--color-primary-light);
        text-decoration: none;
    }
    a:hover {
        color: var(--color-brand-light);
    }

    .copyright {
        font-weight: 400;
        font-size: 14px;
        color: var(--color-secondary);
    }
}