:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-light: #819B57;
    --color-brand-dark: #465929;
}

body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
}

p span {
    color: var(--color-brand-light);
}

ul {
    list-style: none;
}

h2 span {
    color: var(--color-brand-dark);
}

.button-order {
    border: 2px solid var(--color-brand-light);
    background: var(--color-brand-light);
    border-radius: 8px;
    padding: 16px 32px;
    color: var(--color-primary-light);
    cursor: pointer;
}
.button-order:hover {
    background: transparent;
    color: var(--color-brand-dark);
}

.header {
    color: var(--color-primary-light);
}

.menu a {
    text-decoration: none;
    color: var(--color-primary-light);
}

.menu a:hover {
    color: var(--color-brand-light);
    font-weight: bold;
}

.main-title {
    color: var(--color-primary-light);
}
.main-title span {
    color: var(--color-brand-light);
}


.advantages-list {
    background-color: var(--color-brand-light);
    color: var(--color-primary-light);
}